{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié {% endblock %}

{% block containe %}
<div class="block-small">   
  {% for message in app.flashes('notice') %}
        <div id="notification" class="alert alert-success">
            {{ message }}
        </div>
  {% endfor %}
    <form method="post">
        {# {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %} #}
    
        <h1 class="h3 mb-3 font-weight-normal">Merci de saisir votre mail</h1>
        <label for="inputEmail">Votre email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Votre Email">
     
        <button class="btn btn-lg btn-info mt-3 btn-block" type="submit">
            Réinitialiser le mot de passe
        </button>
        <hr>
        <p class="text-center"> Ou souhaitez-vous  <a href="{{ path('app_login') }}">vous connecter</a></p>
    </form>
</div>
{% endblock %}
